/* THIS IS WHERE ALL HOME PAGE COMPONENT STYLING GOES */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');

.main-text {
    font-size: 48px;
    display: inline;
    color: #FFEEED;
}

.main-text-box {
    margin-top: 200px;
    margin-bottom: 100px;
    width: 60%;
}

.red-circle {
    position: relative;
    margin-bottom: -10px;
    top: -12px;
}


.company-image {
    display: flex;
    justify-content: center;
}

.file-contents {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: space-between;
    gap: 50px;
    width: 75%;
}

.event-description, 
.event-date {
    font-size: 20px;
    font-family: Montserrat;
}

.event-img {
    width: 20rem;
}


@media (max-width: 1024px) {
    .carousel-control-next,
    .carousel-control-prev {
        display: none;
    }
    .event-description {
        display: none;
    }

    .event-img {
        width: 12rem;
        height: 12rem;
    }
}

@media (max-width: 768px) {
    .event-img {
        width: 8rem;
        height: 8rem;
    }

    .main-text-box {
        width: 100%;
    }
}

.button-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-block: 100px;
  }

.button-red {
    /* position: absolute; */
    box-sizing: border-box;
    width: 159px;
    height: 52px;
    left: 134px;
    top: 597px;

    background: linear-gradient(180deg, rgba(240, 92, 91, 0.75) 0%, rgba(240, 92, 91, 0.2325) 100%);
    border: 1px solid rgba(240, 92, 91, 0.1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 0px 12px 7px rgba(46, 56, 68, 0.25);
    border-radius: 10px;

    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    /* identical to box height */

    color: #FDECEB;
}

.button-transparent {
    /* position: absolute; */
    box-sizing: border-box;
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    /* identical to box height */

    color: #FDECEB;

    width: 159px;
    height: 52px;
    left: 347px;
    top: 597px;
    background: transparent;

    border: 0.5px solid #FFEEED;
    box-shadow: inset 0px 0px 5px 2px #FFEEED;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
}

.inroduction-about-us {
    margin-right: 50px;
}

#statistic_num {
    font-family: 'Syne';
    font-weight: 720;
    font-size: 48px;
}

#statistic_word {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 36px;
}

.file-contents p {
    font-size: 18px;
    font-family: Montserrat;
}