{
  "extends": ["plugin:prettier/recommended"],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "requireConfigFile": true,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "parser": "@babel/eslint-parser"
}
