.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 20px 100px 20px 100px;
  }

.grid-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    display: flex;
    flex-direction: row;
    text-align: left;
    margin: 10px 30px 10px 30px;
  }

  .icons-image{
    height: 150px;
    width: 200px;
    margin-right: 50px;
  }

  .what-we-do-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
    max-width: 1000px;
    margin: 0 auto;
  }

  .title-div{
    background: linear-gradient(0deg, rgba(240, 92, 91, 0.7), rgba(240, 92, 91, 0.7)),
    linear-gradient(180deg, rgba(255, 238, 237, 0.04) 0%, rgba(7, 57, 72, 0.124) 100%);
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 5px;
    z-index: 100;
    position: relative;
    border-radius: 10px;
  }

  .rounded-div{
    margin-top: -30px;
    z-index: 99;
    background: #7b6a73;
    padding: 75px;
    border-radius: 10px;
    max-width: 1000px;
  }

  .values-title-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .values-title-wrapper{
    margin-top: -50px;
  }

  