.App {
  text-align: center;
  background: linear-gradient(180deg, rgba(231, 23, 21, 0.25) 19.09%, rgba(240, 92, 91, 0.1525) 86.49%, rgba(7, 57, 72, 0.25) 117.87%), #073948;
  color: white;
}

/* THIS IS WHERE THE NAV BAR STYLES CAN GO */

